@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.font-outline-2 {
    -webkit-text-stroke: 1px rgba(27, 28, 87, 1);
  }
.bgGradient{
  background: linear-gradient(135deg, rgba(130,255,232,0.4654236694677871) 0%, rgba(130,255,232,0.5494572829131652) 13%, rgba(255,255,255,0) 38%);
  position: relative;
  z-index: -1;

}
.scroll{
    position: relative;
    left:0px;
    padding-left: 48px;
    padding-right: 28px;
    top: 490px;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}


